<!-- Currency form -->
<form action="/convert" method="POST">
  <div id="secondaryContainer" class="container row">
    <div class="col-sm">
      <!-- (Left) dropdown button -->
      <div class="input-group my-3 dropdown-center">
        <button
          id="leftDropdown"
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Currency to Convert
        </button>
        <ul
          class="dropdown-menu text-center"
          style="max-height: 200px; overflow-y: auto"
        >
          <% for (let elmt of currencies) { %>
          <li
            data-list_item_elmt="<%=elmt%>"
            data-which_input="#leftInput"
            class="dropdown-item"
          >
            <%= elmt %>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <% } %>
        </ul>
        <input
          id="leftInput"
          name="leftCurrency"
          type="text"
          class="form-control border-primary text-primary bg-transparent text-center"
          aria-label="Text input with dropdown button"
        />
      </div>
      <!-- End dropdown button -->
    </div>
    <div class="col-sm">
      <!-- (Right) dropdown button -->
      <div class="input-group my-3 dropdown-center">
        <input
          id="rightInput"
          name="rightCurrency"
          type="text"
          class="form-control border-primary text-primary bg-transparent text-center"
          aria-label="Text input with dropdown button"
        />
        <button
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Convert to Currency
        </button>
        <ul
          class="dropdown-menu text-center"
          style="max-height: 200px; overflow-y: auto"
        >
          <% for (let elmt of currencies) { %>
          <li
            data-list_item_elmt="<%=elmt%>"
            data-which_input="#rightInput"
            class="dropdown-item"
          >
            <%= elmt %>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <% } %>
        </ul>
      </div>
      <!-- End dropdown button -->
    </div>
    <!-- Amount input -->
    <div class="my-5">
      <input
        name="amount"
        class="form-control border-primary text-primary bg-transparent text-center"
        placeholder="Enter amount here..."
      />
    </div>
    <!-- Submit button -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-outline-primary btn-lg">
        Submit
      </button>
    </div>
  </div>
</form>
<% if (locals.amount) { %>
  <h1> <%=locals.amount %> </h1>
<%}%>
