<!-- Currency form -->
<form id="submit_conversion" action="/convert" method="POST">
  <div id="secondaryContainer" class="container row">
    <div class="col-sm">
      <!-- (Left) dropdown button -->
      <div class="input-group my-3 dropdown-center">
        <button
          id="leftDropdown"
          class="btn btn-outline-nightColor dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Currency to Convert
        </button>
        <ul class="dropdown-menu text-center">
          <% for (let elmt of currencies) { %>
          <li
            data-list_item_elmt="<%=elmt%>"
            data-which_input="#leftInput"
            class="dropdown-item currCode"
          >
            <%= elmt %>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <% } %>
        </ul>
        <input
          readonly
          id="leftInput"
          name="leftCurrency"
          type="text"
          class="form-control border-nightColor text-nightColor bg-transparent text-center"
          aria-label="Text input with dropdown button"
        />
      </div>
      <!-- End dropdown button -->
    </div>
    <div class="col-sm">
      <!-- (Right) dropdown button -->
      <div class="input-group my-3 dropdown-center">
        <input
          readonly
          id="rightInput"
          name="rightCurrency"
          type="text"
          class="form-control border-nightColor text-nightColor bg-transparent text-center"
          aria-label="Text input with dropdown button"
        />

        <button
          class="btn btn-outline-nightColor dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Convert to Currency
        </button>
        <ul class="dropdown-menu text-center">
          <% for (let elmt of currencies) { %>
          <li
            data-list_item_elmt="<%=elmt%>"
            data-which_input="#rightInput"
            class="dropdown-item currCode"
          >
            <%= elmt %>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <% } %>
        </ul>
      </div>
      <!-- End dropdown button -->
    </div>
    <!-- Amount input -->
    <div class="my-5">
      <input
        id="amountInput"
        name="amount"
        class="form-control border-nightColor text-nightColor bg-transparent text-center"
        placeholder="Enter amount here..."
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-title="Must be greater than 0"
      />
    </div>
    <!-- Submit button -->
    <div class="d-flex justify-content-center">
      <button
        id="submitButton"
        type="submit"
        class="btn btn-outline-nightColor btn-lg"
      >
        Submit
      </button>
    </div>
  </div>
</form>
<div class="container d-flex justify-content-center my-5">
  <% if (locals.amount) { %>
  <h1 class="text-nightColor">
    <%= baseAmount %> <%= leftCurrency %> is equivalent to <%=amount %> <%=
    rightCurrency %>
  </h1>
  <%} else { %>
  <h1 class="text-nightColor">
    Select currencies, enter an amount to be converted, then click submit!
  </h1>
  <% } %>
</div>
